body{
    background: transparent;
    color: white;
    font-family: 'Courier New', monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 20px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    font-family: 'Press Start 2P', cursive;
}

#space{
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

h1{
    color: #AAAAFF;
    font-size: 48px;
    margin-bottom: 40px;
    font-family: 'Press Start 2P', cursive;
}

table{
    width: 500px;
    border-collapse: collapse;
    background: rgba(0,0,0,0.35);
    backdrop-filter: blur(3px);
    border-radius: 12px;
    overflow: hidden;
    font-family: 'Press Start 2P', cursive;
}

th{
    color: #AAAAFF;
    font-size: 18px;
    padding: 10px;
    border-bottom: 2px solid #AAAAFF;
    font-family: 'Press Start 2P', cursive;
}

td{
    text-align: center;
    padding: 12px;
    font-size: 20px;
    border-bottom: 1px solid #333;
    font-family: 'Press Start 2P', cursive;
}

tr:first-child td{
    color: #FFD700;
    font-family: 'Press Start 2P', cursive;
}

a{
    margin-top: 50px;
    color: #AAAAFF;
    font-size: 18px;
    text-decoration: none;
    font-family: 'Press Start 2P', cursive;
}

a:hover{
    color: white;
    font-family: 'Press Start 2P', cursive;
}